.jumbotron {
    background-image : url('./photos/Lima5.png');
    height : 100vh;
    width : 100%;
    background-repeat : no-repeat;
    background-position : center;

    .title {
        background-image : url('./photos/vector/jumbotron.svg');
        height : 100vh;
        width : auto;
        background-position : right;
        background-size : auto 100vh;
        display : flex;
        flex-direction : row;
        align-items : center;
        background-repeat : no-repeat;
        

    }
    
    .title-item {
        width : 50%;
    }
    
    .penyambutan {
        padding-left : 50px;
    }
}

.transisi-jumbotron {
    background-image : url('./photos/vector/transisi-jumbotron.svg');
    background-repeat : no-repeat;
    height : 750px;
    text-align : center;
}

.transisi-wrapper {
    padding : 100px;
}

.container {
    width : 1024px;
    margin : auto;
}

.caketos-wrapper {
    display : flex;
    flex-direction : row;
}

.caketos-item {
    background-color : red;
    width : 200px;
    margin : 10px;
}