@media (max-width: 480px) {
    // Umum
    h1 {
        font-family : $primary-font;
        color : white;
        font-size : 28px;
    }

    h2 {
        font-family : $primary-font;
        color : white;
        font-size : 12px;
    }

    h3 {
        font-family : $primary-font;
        color : #006C38;
        font-size : 20px;
    }

    h4 {
        font-family : $secondary-font;
        color : rgba(0, 108, 56, 0.8);
    }

    h5 {
        font-family : $primary-font;
        color : #006C38;
        font-size : 12px;
    }

    p {
        font-family : $secondary-font;
        font-size : 14px;
    }

    .container {
        margin : auto;
        width : 100%;
        padding : 50px 0;
        position : relative;
    }

    .sambutan {
        color : #006C38;
        text-align : center;
        font-size : 16px;
        margin-top : 0;
    }

    // Spesifik

    .jumbotron {
        height : 100vh;
        width : 100%;
        position : relative;

        display : flex;
        flex-direction : row;
        align-items: center;

        .jumbotron-title {
            width : 100%;

            display : flex;
            flex-direction : column;
            align-items : center;

            text-align : center;

            .jumbotron-title-logo {
                img {
                    height : 150px;
                    width : auto;
                    padding : 25px;
                }
            }
        }

        .jumbotron-credit {
            position : absolute;
            bottom : 10px;
            left : 10px;

            display : flex;
            flex-direction : column;

            .jumbotron-credit-teks {
                padding-bottom : 10px;

                h2 {
                    text-align : center;
                    font-size : 16px;
                }
            }

            .jumbotron-credit-logo {
                display : flex;
                flex-direction : row;
                justify-content : space-evenly;

                img {
                    height : 30px;
                    width : auto;
                }
            }
        }

        .jumbotron-background {
            display : flex;
            justify-content : center;
            
            img {
                position : absolute;
                bottom : 0px;
                z-index : -2
            }
        }

        .jumbotron-background-mask-desktop {
            display : none;
            img {
                height : 100vh;
                width : auto;

                position : absolute;
                bottom : 0px;
                right : 0px;
                z-index : -1;
            }
        }

        .jumbotron-background-mask-mobile {
            display : block;
            height : 100vh;

            position : absolute;
            bottom : 0;
            right : 0;
            z-index : -1;
        }
    }

    .transisi-jumbotron {
        height : 200px;
        position : relative;
    
        h1 {
            padding : 15% 0;
            text-align : center;
        }
    
        img {
            position : absolute;
            top : 0px;
            z-index : -1;
            width : 100%;
            height : auto;
            margin-top : -5px;
        }
    }

    .sambutan-wrapper {
        width : 100%;

        margin : auto;

        .foto-wrapper {
            margin : auto;
            width : 100%;
            padding : 25px 0 15px 0;

            display : flex;
            flex-direction : row;
            justify-content : space-evenly;

            img {
                height : 75px;
                width : auto;

                cursor : pointer;

                transition : transform .7s;
                &:hover{
                    transform : scale(1.3);
                }
            }

            .img-active {
                transform : scale(1.3);
            }
        }

        .teks-wrapper {
            width : 360px;
            margin : auto;
            margin-bottom : 10px;

            background-color : #F9F9F9;

            border-radius : 20px;
            
            .teks {
                h3 {
                    padding : 20px 20px 0 20px;
                }
                h4 {
                    padding : 0 20px 0 20px;
                }
                p {
                    padding : 10px 20px;
                }
                .teks-sambutan {
                    padding : 20px 0;
                }
            }
        }
    }

    .caketos-wrapper {
        display : flex;
        flex-direction : column;
        align-items : center;
        margin : auto;
        width : 100%;
        padding : 50px 0;

        .profil-caketos-wrapper {
            display : flex;
            flex-direction : row;
            flex-wrap : wrap;
            justify-content : center;
            margin : auto;
            width : 100%;
            padding : 50px 0;

            .profil-caketos {
                width : 200px;
                margin : 20px;

                border-color : #9F9F9F;
                border-radius : 25px;
                border-style : solid;
                border-width : 2px;
                background-color : white;

                display : flex;
                flex-direction : column;
                justify-content : center;
                
                h5 {
                    margin : auto;
                    padding : 0;
                    text-align : center;
                    font-size : 16px;
                }
            }
        }
    }
    .tombol-vote {
        text-align : center;

        a {
            font-family : $primary-font;
            font-weight : bold;

            text-decoration : none;
            color : white;
            border-width : 2px;
            border-radius : 25px;
            border-color : white;
            border-style: solid;
            padding : 15px;
        }
    }

    .background-visi-misi {
        height : 100vh;
        width : 100%;
        background-color : rgba(50, 50, 50, .7);

        position : fixed;
        bottom : 0;
        right : 0;

        display : flex;
        align-content : center;

        z-index : 2;

        .visi-misi-wrapper {
            width : 350px;
            height : 500px;
            position : relative;

            margin : auto;

            background-color : #ffffff;

            border-radius : 25px;

            display : flex;
            flex-direction : column;

            .visi-misi-item{
                overflow-y : scroll;
                margin : 40px 10px 10px 10px;
            }
            .tombol-keluar {
                position : absolute;
                top : 20px;
                right : 20px;
                z-index : 2;

                img {
                    cursor : pointer;
                }
            }

            .visi-misi-content {
                padding : 40px;

                .nama {
                    text-align : center;
                }
                .visi-misi {
                    padding-top : 20px;
                }
                img {
                    height : 250px;
                    width : auto;
                    display : block;
                    margin : auto;
                    padding-bottom : 40px;
                }
                p {
                    padding-left : 10px;
                    color : rgba($color: #000000, $alpha: .7);
                    font-size : 12px;
                }
                ul {
                    padding-left : 10px;
                }
                li {
                    font-family : $secondary-font;
                    padding : 2.5px;
                    color : rgba($color: #000000, $alpha: .7);
                    font-size : 12px;
                }
            }
        }
    }
}

.footer {
    background-color : #216353;
    .container {
        padding-top : 0;

        .kontak {
            text-align : center;
            padding : 100px 0;
        }
    }
    .credit-fcc {
        text-align : center;
        font-size : 16px;
        padding : 10px;
        h2 {
            font-size : 12px;
        }
    }
}