@mixin h2font {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0em;
  color: white;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  user-select: none;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  background-color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}

.wrapper-verif {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  .verif {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    background-color: darkcyan;
    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      margin: -5px;
      margin-bottom: 10px;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: center;
      color: black;
      opacity: 50%;
    }
    input {
      font-size: 20px;
      text-align: center;
    }
    ::placeholder {
      font-size: larger;
      text-align: center;
    }
    .showhide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      flex-direction: row;
      * {
        margin: 3px;
      }
      input {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 1000px;
      }
    }
  }
}

.bg-img1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -2;
}
.bg-img2 {
  display: none;
}

.wrapper {
  @include flex();
  flex-direction: column;
  .form-box {
    height: 600px;
    position: absolute;
    z-index: -1;
  }
  .top {
    @include flex();
    flex-direction: column;
    .logo {
      height: 140px;
    }
    .title {
      margin-top: 20px;
      @include flex();
      flex-direction: row;
      .title-text {
        color: white;
        padding: 15px;
      }
      svg {
        width: 110px;
      }
    }
  }
  .bottom {
    form {
      ::placeholder {
        color: white !important;
      }
      @include flex();
      flex-direction: column;
      input {
        @include h2font();
        outline: none;
        height: 42px;
        width: 280px;
        border-radius: 40px;
        background-color: transparent;
        border: 3px solid #ffffff;
        padding-left: 10px;
        margin: 20px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
      button {
        @include h2font();
        a:active,
        a:hover,
        a:visited,
        a:link {
          text-decoration: none;
          color: white;
        }
        border: none;
        height: 42px;
        width: 280px;
        margin: 25px;
        border-radius: 40px;
        background: linear-gradient(270deg, #156c42 38.89%, #fff500 138.16%);
      }
    }
  }
}

$desktop: 1920px;
$laptop: 1250px; // bener label tidak correct dengan sizenya :)
$tablet: 768px; // Hanya sebagai ratio mana yang lebih besar
$phone: 480px;

// Min WIDTH !!! so for outside desktop
@media (min-width: 2150px) {
  .wrapper {
    .form-box {
      height: 800px;
    }
    .top {
      .logo {
        height: 180px;
      }
      .title {
        .title-text {
          font-size: 34px;
        }
        svg {
          width: 150px;
        }
      }
    }
  }
  @media (max-height: 1250px) {
    body,
    .wrapper-verif {
      height: 1250px;
    }
    .bg-img1 {
      height: 1250px;
    }
  }
}

@media (max-width: 2150px) {
  @media (max-height: 900px) {
    .wrapper {
      .form-box {
        width: 490px;
      }
      .top {
        .logo {
          height: 120px;
        }
        .title {
          .title-text {
            font-size: 20px;
          }
          svg {
            width: 80px;
          }
        }
      }
    }
  }
  @media (max-height: 800px) {
    body,
    .wrapper-verif {
      height: 800px;
    }
    .bg-img1 {
      height: 800px;
    }
  }
}

@media (max-width: $desktop) {
  @media (max-height: 950px) {
    .wrapper {
      .form-box {
        width: 490px;
      }
      .top {
        .logo {
          height: 120px;
        }
        .title {
          .title-text {
            font-size: 20px;
          }
          svg {
            width: 80px;
          }
        }
      }
    }
  }
  @media (max-height: 800px) {
    body,
    .wrapper-verif {
      height: 800px;
    }
    .bg-img1 {
      height: 800px;
    }
  }
}

@media (max-width: $laptop) {
  body,
  .wrapper-verif {
    width: 100%;
    height: 100vh;
  }
  .bg-img1 {
    display: none;
  }
  .bg-img2 {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -2;
  }
  @media (max-height: 900px) {
    .wrapper {
      .form-box {
        width: 450px;
      }
      .top {
        .logo {
          height: 90px;
        }
        .title {
          .title-text {
            font-size: 20px;
          }
          svg {
            width: 80px;
          }
        }
      }
    }
  }
  @media (max-height: 780px) {
    .wrapper {
      .form-box {
        width: 420px;
      }
      .top {
        .logo {
          height: 78px;
        }
        .title {
          .title-text {
            margin: 0px;
            font-size: 18px;
          }
          svg {
            width: 70px;
          }
        }
      }
      .bottom {
        form {
          input {
            margin: 15px;
          }
        }
      }
    }
  }
  @media (max-height: 600px) {
    body,
    .wrapper-verif {
      height: 600px;
    }
    .bg-img2 {
      height: 600px;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    .form-box {
      width: 450px;
    }
    .top {
      .logo {
        height: 90px;
      }
      .title {
        .title-text {
          font-size: 20px;
        }
        svg {
          width: 80px;
        }
      }
    }
  }
  @media (max-height: 800px) {
    .wrapper {
      .form-box {
        width: 420px;
      }
      .top {
        .logo {
          height: 78px;
        }
        .title {
          .title-text {
            margin: 0px;
            font-size: 18px;
          }
          svg {
            width: 70px;
          }
        }
      }
      .bottom {
        form {
          input {
            margin: 15px;
          }
        }
      }
    }
  }
  @media (max-height: 650px) {
    .wrapper {
      .form-box {
        width: 380px;
      }
      .top {
        .logo {
          height: 72px;
        }
        .title {
          .title-text {
            margin: 0px;
            font-size: 16px;
          }
          svg {
            width: 70px;
          }
        }
      }
      .bottom {
        form {
          input {
            font-size: 10px;
            height: 35px;
          }
          button {
            height: 35px;
            margin: 10px;
          }
        }
      }
    }
  }
  @media (max-height: 580px) {
    .wrapper {
      .form-box {
        width: 350px;
      }
      .top {
        .logo {
          height: 63px;
        }
        .title {
          .title-text {
            font-size: 16px;
          }
          svg {
            width: 60px;
          }
        }
      }
      .bottom {
        form {
          input {
            font-size: 10px;
            height: 35px;
            width: 240px;
          }
          button {
            height: 35px;
            margin: 10px;
            width: 240px;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .wrapper {
    .form-box {
      width: 350px;
    }
    .top {
      .logo {
        height: 70px;
      }
      .title {
        margin: 0px;
        .title-text {
          margin: 5px;
          font-size: 16px;
        }
        svg {
          width: 60px;
        }
      }
    }
    .bottom {
      form {
        input {
          margin: 10px;
          font-size: 10px;
          height: 35px;
          width: 240px;
        }
        button {
          height: 35px;
          margin: 10px;
          width: 240px;
        }
        .wrapper-verif {
          h3 {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media (max-height: 550px) {
    .wrapper {
      .form-box {
        width: 300px;
      }
      .top {
        .logo {
          height: 70px;
        }
        .title {
          .title-text {
            font-size: 16px;
            padding: 8px;
          }
          svg {
            width: 40px;
          }
        }
      }
      .bottom {
        form {
          input {
            margin: 10px;
            font-size: 10px;
            height: 30px;
            width: 200px;
          }
          button {
            height: 30px;
            margin: 10px;
            width: 200px;
          }
        }
      }
    }
  }
  @media (max-height: 600px) {
    body,
    .wrapper-verif {
      height: 100vh;
    }
    .bg-img2 {
      height: 100vh;
    }
  }
  @media (max-height: 460px) {
    .wrapper {
      .form-box {
        width: 260px;
      }
      .top {
        .logo {
          height: 65px;
        }
        .title {
          .title-text {
            font-size: 14px;
            padding: 4px;
          }
          svg {
            width: 38px;
          }
        }
      }
      .bottom {
        form {
          input {
            margin: 8px;
            font-size: 8px;
            height: 23px;
            width: 170px;
          }
          button {
            font-size: 10px;
            height: 23px;
            margin: 10px;
            width: 170px;
          }
        }
      }
    }
  }
  @media (max-height: 370px) {
    body,
    .wrapper-verif {
      height: 370px;
    }
    .bg-img2 {
      height: 370px;
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    .form-box {
      width: 280px;
    }
    .top {
      .logo {
        height: 65px;
      }
      .title {
        margin: 5px;
        .title-text {
          font-size: 14px;
          padding: 4px;
        }
        svg {
          width: 38px;
        }
      }
    }
    .bottom {
      form {
        input {
          margin: 8px;
          font-size: 8px;
          height: 23px;
          width: 170px;
        }
        button {
          font-size: 10px;
          height: 23px;
          margin: 10px;
          width: 170px;
        }
      }
    }
  }
  @media (max-height: 480px) {
    .wrapper {
      .form-box {
        width: 240px;
      }
      .top {
        .logo {
          height: 55px;
        }
        .title {
          margin: 0px;
          .title-text {
            font-size: 12px;
            padding: 4px;
          }
          svg {
            width: 30px;
          }
        }
      }
      .bottom {
        form {
          input {
            margin: 8px;
            font-size: 8px;
            height: 20px;
            width: 150px;
          }
          button {
            font-size: 10px;
            height: 20px;
            margin: 10px;
            width: 150px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .wrapper {
    .form-box {
      width: 220px;
    }
    .top {
      .logo {
        height: 55px;
      }
      .title {
        margin: 0px;
        .title-text {
          font-size: 12px;
          padding: 4px;
        }
        svg {
          width: 30px;
        }
      }
    }
    .bottom {
      form {
        input {
          margin: 8px;
          font-size: 7px;
          height: 20px;
          width: 130px;
        }
        button {
          font-size: 9px;
          height: 20px;
          margin: 10px;
          width: 130px;
        }
        .wrapper-verif {
          h3 {
            font-size: 8px;
          }
        }
      }
    }
  }
  @media (max-height: 360px) {
    body,
    .wrapper-verif {
      height: 100vh;
    }
    .bg-img2 {
      height: 100vh;
    }
  }
  @media (max-height: 290px) {
    body,
    .wrapper-verif {
      height: 290px;
    }
    .bg-img2 {
      height: 290px;
    }
  }
}
