@import './components/fonts';
@import './components/components';
@import './components/responsive-mobile';
@import './photos/copas-ciko/copas-ciko';

* {
    padding : 0;
    margin : 0;
}

::-webkit-scrollbar {
    width : 10px;
    &-track {
        background : #f1f1f1;
    }
    &-thumb {
        background : #888;
        border-radius : 15px;
    }
    &-thumb:hover{
        background : #555;
    }
    &-track-piece {
        display : none;
    }
}
/*


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba($color: #fff, $alpha: 0.5);
}
::selection {
  color: black;
  background: white;
}

*/