.top-background-image {
  position: absolute;
  z-index: 100;
  display: none;

  @include breakpoint(desktop) {
    display: inline;
    top: 0vh;
    left: 70vw;
    width: 30%;
  }
}


.background-page {
  z-index: 100;
  position: absolute;
}

.background-1 {
  left: -9vw;
  top: 41vh;
  width: 109vw;

  @include breakpoint(tablet) {
    left: -3vw;
    top: 41vh;
    width: 99vw;
  }
}

.background-2 {
  left: 2vw;
  top: 109vh;
  width: 93vw;

  @include breakpoint(tablet) {
    left: 4vw;
    top: 116vh;
    width: 90vw;
  }
}

.background-3 {
  left: 4vw;
  top: 193vh;
  width: 91vw;
}

@include breakpoint(desktop) {
  .background-1 {
    left: -4vw;
    top: 18vh;
    width: 104vw;
  }

  .background-2{ display: none; } 
  .background-3{ display: none; } 
}

