/* Globar Var */
$green: #006C38;
$white: #ffffff;
$font: 'Montserrat', sans-serif;


/* Breakpoint */
@mixin breakpoint($point) {
  @if $point == desktop {
     @media (min-width: 1200px) { @content ; }
  }

  @else if $point == tablet {
     @media (min-width: 600px)  { @content ; }
  }

  @else if $point == mobile {
     @media (max-width: 600px)  { @content ; }
  }
}

