.container-pilihan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include breakpoint(mobile) {
    margin-bottom: 8vh; 
    column-gap: 2vh;
  }

  @include breakpoint(desktop) {
    margin-bottom: 10vh; 
    column-gap: 5vh;
  }

  /* Sub Element */
  .caketos {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Sub-Sub Element  */
    .box-pilihan {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      margin-bottom: 2vh;
    
      /* Border stuff */
      border-style: solid;
      border-width: 1.8px;
      border-color: #9F9F9F;
      border-radius: 26px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);

      @include breakpoint(mobile) {
        border-radius: 26px;
        width: 38vw;
      }

      @include breakpoint(desktop) {
        border-radius: 40px;
        width: 17vw;
      }

      /* Sub-Sub-Sub Element */
      .nama-caketos {
        font-family: $font;
        color: $green;

        @include breakpoint(mobile) {
          margin-bottom: 5vh;
          margin-top: 4vh;

          font-size: 3vw;
        }

        @include breakpoint(desktop) {
          margin-bottom: 5.8vh;
          margin-top: 3.7vh;

          font-size: 1.2vw;
        }
      }

      /* Sub-Sub-Sub Element */
      .foto-caketos {
        @include breakpoint(mobile) {
          margin-bottom: 5vh;
          width: 24vw;
        }

        @include breakpoint(desktop) {
          margin-bottom: 5vh;
          width: 10vw;
        }
      }

      /* Sub-Sub-Sub Element */
      .tombol-profil {
        font-family: $font;
        text-decoration: none;
        color: $green;

        @include breakpoint(mobile) {
          $left-right: 4vw;
          margin-left: $left-right; 
          margin-right: $left-right;
          margin-bottom: 5vh;
          margin-top: 2vh;

          font-size: 2.8vw;
        }

        @include breakpoint(desktop) {
          $left-right: 2vw;
          margin-left: $left-right; 
          margin-right: $left-right;
          margin-bottom: 3vh;
          margin-top: 1vh;

          font-size: 1.2vw;
        }
      }
    }

    /* Sub-Sub Element  */
    .tombol-vote {
      font-family: $font;
      color: #FFFFFF;
      text-decoration: none;
    
      border-style: solid;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 3.8px;
      padding-bottom: 3.8px;

      @include breakpoint(mobile) {
        font-size: 2.8vw; 
        border-width: 2px;
        border-radius: 15px;
      }

      @include breakpoint(desktop) {
        font-size: 1vw; 
        border-width: 3px;
        border-radius: 22px;
      }
    }
  }

  @include breakpoint(mobile) {
    #caketos-1{ display: flex; }
    #caketos-2{ display: none; }
    #caketos-3{ display: none; }
  }

  @include breakpoint(desktop) {
    #caketos-1{ display: flex; }
    #caketos-2{ display: flex; }
    #caketos-3{ display: flex; }
  }

  /* Sub Element */
  .panah {
    @include breakpoint(mobile) {
      width: 4vw;
      padding-bottom: 4vh;
    }

    @include breakpoint(desktop) {
      display: none
    }
  }

  .panah-kiri {
    transform: rotateY(180deg);
  }

  /* Sub Element */
  .tombol {
    border: none;
    background-color: transparent;
  }
}



