h1 {
  font-family: $font;
  color: $green;

  @include breakpoint(mobile) {
    font-size: 3.8ch;
    margin-bottom: 3em;
  }

  @include breakpoint(tablet) {
    font-size: 5.6ch;
    margin-bottom: 3em;
  }

  @include breakpoint(desktop) {
    font-size: 7ch;
    margin-bottom: 2em;
  }
}
