h1 {
  font-family: $font;
  color: $green;

  @include breakpoint(mobile) {
    font-size: 6vw;
    margin-bottom: 9vh;
  }

  @include breakpoint(desktop) {
    font-size: 3.2vw;
    margin-bottom: 10.6vh;
  }
}
