.container-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  margin-bottom: 5em;

  @include breakpoint(desktop) {
    margin-bottom: 4em;
  }
}


.tombol-home {
  font-family: $font;
  text-decoration: none;
  border-style: solid;

  @include breakpoint(mobile) {
    $left-right: 14px;
    $top-bottom: 6px;
    padding-left: $left-right;
    padding-right: $left-right;
    padding-bottom: $top-bottom;
    padding-top: $top-bottom;

    border-radius: 16px;
    border-width: 1.9px;

    font-size: 1.6ch;
    color: $green;

    margin-top: 0.4em;
    margin-right: 0.6em;
  }

  @include breakpoint(tablet) {
    $left-right: 20px;
    $top-bottom: 8px;
    padding-left: $left-right;
    padding-right: $left-right;
    padding-bottom: $top-bottom;
    padding-top: $top-bottom;

    border-radius: 26px;
    border-width: 2px;

    font-size: 2.4ch;
    color: $green;

    margin-top: 0.4em;
    margin-right: 0.6em;
  }

  @include breakpoint(desktop) {
    $left-right: 24px;
    $top-bottom: 10px;
    padding-left: $left-right;
    padding-right: $left-right;
    padding-bottom: $top-bottom;
    padding-top: $top-bottom;

    border-radius: 28px;
    border-width: 2px;

    font-size: 2.8ch;
    color: $white;

    margin-top: 0.4em;
    margin-right: 0.6em;
  }
}

