@mixin h2font {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0em;
    color: white;
  }
  @mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body {
    margin: 0;
    user-select: none;
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    background-color: white;
  }
  
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .bg-img1 {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -2;
  }
  .bg-img2 {
    display: none;
  }
  
  $desktop: 1920px;
  $laptop: 1250px; // bener label tidak correct dengan sizenya :)
  $tablet: 768px; // Hanya sebagai ratio mana yang lebih besar
  $phone: 480px;
  
  // Min WIDTH !!! so for outside desktop
  @media (min-width: 2150px) {
    @media (max-height: 1250px) {
      .bg-img1 {
        height: 1250px;
      }
    }
  }
  
  @media (max-width: 2150px) {
    @media (max-height: 800px) {
      .bg-img1 {
        height: 800px;
      }
    }
  }
  
  @media (max-width: $desktop) {
    @media (max-height: 800px) {
      .bg-img1 {
        height: 800px;
      }
    }
  }
  
  @media (max-width: $laptop) {
    .bg-img1 {
      display: none;
    }
    .bg-img2 {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: -2;
    }
    @media (max-height: 600px) {
      .bg-img2 {
        height: 600px;
      }
    }
  }
  
  @media (max-width: 560px) {
    @media (max-height: 600px) {
      .bg-img2 {
        height: 100vh;
      }
    }
    @media (max-height: 370px) {
      .bg-img2 {
        height: 370px;
      }
    }
  }
  
  @media (max-width: 360px) {
    @media (max-height: 360px) {
      .bg-img2 {
        height: 100vh;
      }
    }
    @media (max-height: 290px) {
      .bg-img2 {
        height: 290px;
      }
    }
  }
  