/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Import Component */
@import './component/_bits';
@import './component/_tombol-home';
@import './component/_judul';
@import './component/_core';
@import './component/_background-image';


/* Global CSS */
* {
  padding: 0;
  margin: 0;
  z-index: 200;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(mobile) {
    $left-right: 1.1em;
    $top-bottom: 1em;

    margin-left: $left-right;
    margin-right: $left-right;
    margin-bottom: $top-bottom;
    margin-top: $top-bottom;
	}

  @include breakpoint(desktop) {
    $left-right: 4vw;
    $top-bottom: 6vh;

    margin-left: $left-right;
    margin-right: $left-right;
    margin-bottom: $top-bottom;
    margin-top: $top-bottom;
  }
}
