/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
/* Import Component */
/* Globar Var */
/* Breakpoint */
.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-bottom: 5em;
}

@media (min-width: 1200px) {
  .container-nav {
    margin-bottom: 4em;
  }
}

.tombol-home {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-style: solid;
}

@media (max-width: 600px) {
  .tombol-home {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 16px;
    border-width: 1.9px;
    font-size: 1.6ch;
    color: #006C38;
    margin-top: 0.4em;
    margin-right: 0.6em;
  }
}

@media (min-width: 600px) {
  .tombol-home {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 26px;
    border-width: 2px;
    font-size: 2.4ch;
    color: #006C38;
    margin-top: 0.4em;
    margin-right: 0.6em;
  }
}

@media (min-width: 1200px) {
  .tombol-home {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 28px;
    border-width: 2px;
    font-size: 2.8ch;
    color: #ffffff;
    margin-top: 0.4em;
    margin-right: 0.6em;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #006C38;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.8ch;
    margin-bottom: 3em;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 5.6ch;
    margin-bottom: 3em;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 7ch;
    margin-bottom: 2em;
  }
}

.core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bagian-pemilihan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0em;
}

@media (min-width: 1200px) {
  .bagian-pemilihan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 7em;
  }
}

.caketos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .caketos {
    margin-bottom: 6em;
  }
}

@media (min-width: 600px) {
  .caketos {
    margin-bottom: 8em;
  }
}

@media (min-width: 1200px) {
  .caketos {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0px;
  }
}

.box-caketos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

@media (max-width: 600px) {
  .box-caketos {
    border-width: 2px;
    border-radius: 40px;
    padding: 0.5em;
    width: 76%;
    margin-bottom: 1em;
  }
}

@media (min-width: 600px) {
  .box-caketos {
    border-width: 2px;
    border-radius: 40px;
    padding: 0.5em;
    width: 120%;
    margin-bottom: 2em;
  }
}

@media (min-width: 1200px) {
  .box-caketos {
    border-width: 3px;
    border-radius: 42px;
    padding: 0.5em;
    width: 112%;
    margin-bottom: 2em;
  }
}

@media (max-width: 600px) {
  .box-caketos-2 {
    width: 81%;
  }
}

@media (min-width: 600px) {
  .box-caketos-2 {
    width: 128%;
  }
}

@media (min-width: 1200px) {
  .box-caketos-2 {
    width: 118%;
  }
}

.no-caketos {
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .no-caketos {
    font-size: 2ch;
    margin-top: 1em;
    margin-bottom: 0.8em;
  }
}

@media (min-width: 600px) {
  .no-caketos {
    font-size: 3ch;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

@media (min-width: 1200px) {
  .no-caketos {
    font-size: 3ch;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}

.nama-caketos {
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .nama-caketos {
    font-size: 2.7ch;
    margin-bottom: 0.7em;
  }
}

@media (min-width: 600px) {
  .nama-caketos {
    font-size: 3.5ch;
    margin-bottom: 1em;
  }
}

@media (min-width: 1200px) {
  .nama-caketos {
    font-size: 3.5ch;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .foto-caketos {
    width: 57%;
  }
}

@media (min-width: 600px) {
  .foto-caketos {
    width: 52%;
  }
}

@media (min-width: 1200px) {
  .foto-caketos {
    width: 55%;
  }
}

.tombol-profil {
  border: none;
  background-color: #ffffff;
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .tombol-profil {
    font-size: 2.4ch;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media (min-width: 600px) {
  .tombol-profil {
    font-size: 3ch;
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

@media (min-width: 1200px) {
  .tombol-profil {
    font-size: 3ch;
    margin-top: 3em;
    margin-bottom: 2em;
  }
}

.tombol-vote {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: solid;
  background-color: #006C38;
  border-color: #ffffff;
  font-size: 1.7ch;
  border-radius: 20px;
  border-width: 2px;
  padding: 8px 16px 8px 16px;
}

@media (min-width: 600px) {
  .tombol-vote {
    font-size: 2ch;
    border-radius: 22px;
    border-width: 4px;
  }
}

.tombol-vote:focus {
  background-color: #ffffff;
  color: #006C38;
}

.tombol-submit {
  border: none;
  background-color: transparent;
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .tombol-submit {
    font-size: 2.8ch;
    padding-bottom: 10em;
  }
}

@media (min-width: 600px) {
  .tombol-submit {
    font-size: 3.6ch;
    padding-bottom: 14em;
  }
}

@media (min-width: 1200px) {
  .tombol-submit {
    color: #ffffff;
    font-size: 4.2ch;
    padding-bottom: 5em;
  }
}

#dummyText {
  display: none;
}

.top-background-image {
  position: absolute;
  z-index: 100;
  display: none;
}

@media (min-width: 1200px) {
  .top-background-image {
    display: inline;
    top: 0vh;
    left: 70vw;
    width: 30%;
  }
}

.background-page {
  z-index: 100;
  position: absolute;
}

.background-1 {
  left: -9vw;
  top: 41vh;
  width: 109vw;
}

@media (min-width: 600px) {
  .background-1 {
    left: -3vw;
    top: 41vh;
    width: 99vw;
  }
}

.background-2 {
  left: 2vw;
  top: 109vh;
  width: 93vw;
}

@media (min-width: 600px) {
  .background-2 {
    left: 4vw;
    top: 116vh;
    width: 90vw;
  }
}

.background-3 {
  left: 4vw;
  top: 193vh;
  width: 91vw;
}

@media (min-width: 1200px) {
  .background-1 {
    left: -4vw;
    top: 18vh;
    width: 104vw;
  }
  .background-2 {
    display: none;
  }
  .background-3 {
    display: none;
  }
}

/* Global CSS */
* {
  padding: 0;
  margin: 0;
  z-index: 200;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    margin-left: 1.1em;
    margin-right: 1.1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media (min-width: 600px) {
  body {
    margin-left: 2.1em;
    margin-right: 2.1em;
    margin-bottom: 2em;
    margin-top: 2em;
  }
}

@media (min-width: 1200px) {
  body {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 3em;
    margin-top: 3em;
  }
}

.display-none {
  display: none !important;
}

.tombol-submit,
.tombol-profil,
.tombol-vote {
  cursor: pointer;
}

.background-visi-misi {
  height: 100vh;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 201;
}

.background-visi-misi p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.background-visi-misi h3 {
  font-family: "Montserrat", sans-serif;
  color: #006c38;
  font-size: 24px;
}

.background-visi-misi .visi-misi-wrapper {
  width: 600px;
  height: 600px;
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-item {
  overflow-y: scroll;
  margin: 40px 10px 10px 10px;
}

.background-visi-misi .visi-misi-wrapper .tombol-keluar {
  position: absolute;
  top: 20px;
  right: 20px;
}

.background-visi-misi .visi-misi-wrapper .tombol-keluar img {
  cursor: pointer;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content {
  padding: 40px;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content .nama {
  text-align: center;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content .visi-misi {
  padding-top: 20px;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content img {
  height: 250px;
  width: auto;
  display: block;
  margin: auto;
  padding-bottom: 40px;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content p {
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content ul {
  padding-left: 20px;
}

.background-visi-misi .visi-misi-wrapper .visi-misi-content li {
  font-family: "Open Sans", sans-serif;
  padding: 2.5px;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  .background-visi-misi {
    height: 100vh;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.7);
    position: fixed;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    z-index: 202;
  }
  .background-visi-misi .visi-misi-wrapper {
    width: 350px;
    height: 500px;
    position: relative;
    margin: auto;
    background-color: #ffffff;
    border-radius: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-item {
    overflow-y: scroll;
    margin: 40px 10px 10px 10px;
  }
  .background-visi-misi .visi-misi-wrapper .tombol-keluar {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }
  .background-visi-misi .visi-misi-wrapper .tombol-keluar img {
    cursor: pointer;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content {
    padding: 40px;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content .nama {
    text-align: center;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content .visi-misi {
    padding-top: 20px;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content img {
    height: 250px;
    width: auto;
    display: block;
    margin: auto;
    padding-bottom: 40px;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content p {
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content ul {
    padding-left: 10px;
  }
  .background-visi-misi .visi-misi-wrapper .visi-misi-content li {
    font-family: "Open Sans", sans-serif;
    padding: 2.5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
  }
}
/*# sourceMappingURL=vote.css.map */