/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* Import Component */
/* Globar Var */
/* Breakpoint */
.container-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 600px) {
  .container-nav {
    margin-bottom: 6em;
  }
}
@media (min-width: 1200px) {
  .container-nav {
    margin-bottom: 4vh;
  }
}

.tombol-home {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-style: solid;
}
@media (max-width: 600px) {
  .tombol-home {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 16px;
    border-width: 1.9px;
    font-size: 1.6ch;
    color: #006C38;
    margin-top: 0.4em;
    margin-right: 0.6em;
  }
}
@media (min-width: 1200px) {
  .tombol-home {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 21px;
    border-width: 3px;
    font-size: 1vw;
    color: #FFFFFF;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #006C38;
}
@media (max-width: 600px) {
  h1 {
    font-size: 3.8ch;
    margin-bottom: 3em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.2vw;
    margin-bottom: 10.6vh;
  }
}

.core {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bagian-pemilihan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .bagian-pemilihan {
    margin-bottom: 0em;
  }
}

.caketos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .caketos {
    margin-bottom: 6em;
  }
}

.box-caketos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
@media (max-width: 600px) {
  .box-caketos {
    border-width: 2px;
    border-radius: 40px;
    padding: 0.5em;
    width: 76%;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .box-caketos-2 {
    width: 84%;
  }
}

.no-caketos {
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .no-caketos {
    font-size: 2ch;
    margin-top: 1em;
    margin-bottom: 0.8em;
  }
}

.nama-caketos {
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .nama-caketos {
    font-size: 2.7ch;
    margin-bottom: 0.7em;
  }
}

@media (max-width: 600px) {
  .foto-caketos {
    width: 52%;
  }
}

.tombol-profil {
  border: none;
  background-color: #ffffff;
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .tombol-profil {
    font-size: 2.4ch;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.tombol-check {
  transform: scale(1.5);
}

.tombol-submit {
  border: none;
  background-color: #ffffff;
  color: #006C38;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 600px) {
  .tombol-submit {
    font-size: 2.8ch;
    padding-bottom: 10em;
  }
}

.top-background-image {
  position: absolute;
  z-index: 100;
}
@media (max-width: 600px) {
  .top-background-image {
    display: none;
  }
}
@media (min-width: 1200px) {
  .top-background-image {
    top: 0vh;
    left: 69.9vw;
    width: 30vw;
  }
}

.background-page {
  z-index: 100;
  position: absolute;
}

@media (max-width: 600px) {
  .background-1 {
    left: -28px;
    top: 363px;
    width: 107%;
  }

  .background-2 {
    left: 19px;
    top: 914px;
    width: 90%;
  }

  .background-3 {
    left: 11px;
    top: 1400px;
    width: 94%;
  }
}
@media (min-width: 1200px) {
  .background-2 {
    display: none;
  }

  .background-3 {
    display: none;
  }
}
/* Global CSS */
* {
  padding: 0;
  margin: 0;
  z-index: 200;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  body {
    margin-left: 1.1em;
    margin-right: 1.1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}
@media (min-width: 1200px) {
  body {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 6vh;
    margin-top: 6vh;
  }
}

/*# sourceMappingURL=vote.css.map */
