/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
/* Import Component */
/* Globar Var */
/* Breakpoint */
.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media (max-width: 600px) {
  .container-nav {
    margin-bottom: 10vh;
  }
}

.tombol-home {
  font-family: "Montserrat", sans-serif;
  color: #006C38;
  text-decoration: none;
  border-style: solid;
}

@media (max-width: 600px) {
  .tombol-home {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 16px;
    border-width: 1px;
    font-size: 3.6vw;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #006C38;
}

@media (max-width: 600px) {
  h1 {
    font-size: 8vw;
    margin-bottom: 10vh;
  }
}

.tombol-submit {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

@media (max-width: 600px) {
  .tombol-submit {
    color: #006C38;
    font-size: 4.4vw;
    padding-bottom: 8vh;
  }
}

.container-pilihan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Sub Element */
  /* Sub Element */
}

@media (max-width: 600px) {
  .container-pilihan {
    margin-bottom: 8vh;
    -webkit-column-gap: 2vh;
            column-gap: 2vh;
  }
}

.container-pilihan .caketos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Sub-Sub Element  */
  /* Sub-Sub Element  */
}

.container-pilihan .caketos .box-pilihan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  /* Border stuff */
  border-style: solid;
  border-width: 1.8px;
  border-color: #9F9F9F;
  border-radius: 26px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  margin-bottom: 1vh;
  /* Sub-Sub-Sub Element */
  /* Sub-Sub-Sub Element */
  /* Sub-Sub-Sub Element */
}

.container-pilihan .caketos .box-pilihan .nama-caketos {
  font-family: "Montserrat", sans-serif;
  color: #006C38;
}

@media (max-width: 600px) {
  .container-pilihan .caketos .box-pilihan .nama-caketos {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 14vh;
    margin-top: 4vh;
    font-size: 5vw;
  }
}

@media (max-width: 600px) {
  .container-pilihan .caketos .box-pilihan .foto-caketos {
    margin-bottom: 5vh;
    width: 34vw;
  }
}

.container-pilihan .caketos .box-pilihan .tombol-profil {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #006C38;
}

@media (max-width: 600px) {
  .container-pilihan .caketos .box-pilihan .tombol-profil {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 5vh;
    margin-top: 2vh;
    font-size: 5vw;
  }
}

.container-pilihan .caketos .tombol-vote {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
  text-decoration: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 3.8px;
  padding-bottom: 3.8px;
}

@media (max-width: 600px) {
  .container-pilihan .caketos-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-pilihan .caketos-2 {
    display: none;
  }
  .container-pilihan .caketos-3 {
    display: none;
  }
}

.container-pilihan .panah {
  width: 6vw;
  padding-bottom: 2vh;
}

.container-pilihan .panah-kiri {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.background-page {
  position: absolute;
  z-index: 100;
}

@media (max-width: 600px) {
  .background-page {
    top: 45vh;
    left: -9.8vw;
    width: 109vw;
  }
}

* {
  padding: 0;
  margin: 0;
  z-index: 200;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  body {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
}

@media (min-width: 600px) {
  body {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
}
/*# sourceMappingURL=vote.css.map */