body,
h1,
h2 {
  margin: 0;
}
body {
  user-select: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #285159;
  padding: 5px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #727272;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  img {
    margin: 20px;
  }
  .content {
    margin-bottom: 80px;
  }
  button {
    border-radius: 20px;
    width: 150px;
    height: 40px;
    background-color: #285159;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
  }
}

$desktop: 1920px;
$laptop: 1250px; // bener label tidak correct dengan sizenya :)
$tablet: 768px; // Hanya sebagai ratio mana yang lebih besar
$phone: 480px;

@media (min-width: $desktop) {
  h1 {
    font-size: 144px;
  }
  h2 {
    font-size: 36px;
  }
  .wrapper {
    img {
      height: 250px;
    }
    button {
      width: 200px;
      height: 55px;
      font-size: 30px;
    }
  }
  @media (max-height: 800px) {
    .wrapper {
      height: 800px;
    }
  }
}

@media (max-width: $desktop) {
  h1 {
    font-size: 105px;
  }
  h2 {
    font-size: 30px;
  }
  .wrapper {
    img {
      height: 200px;
    }
    .content {
      margin-bottom: 50px;
    }
    button {
      width: 200px;
      height: 55px;
      font-size: 30px;
    }
  }
  @media (max-height: 600px) {
    .wrapper {
      height: 600px;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 24px;
  }
  .wrapper {
    img {
      height: 150px;
    }
    button {
      width: 150px;
      height: 45px;
      font-size: 20px;
    }
  }
  @media (max-height: 600px) {
    .wrapper {
      height: 100vh;
    }
  }
  @media (max-height: 500px) {
    .wrapper {
      height: 500px;
    }
  }
}

@media (max-width: $phone) {
  h1 {
    font-size: 44spx;
  }
  h2 {
    font-size: 15px;
  }
  .wrapper {
    img {
      height: 100px;
    }
    .content {
      margin-bottom: 25px;
    }
    button {
      width: 120px;
      height: 35px;
      font-size: 16px;
    }
  }
  @media (max-height: 600px) {
    .wrapper {
      height: 100vh;
    }
  }
  @media (max-height: 500px) {
    .wrapper {
      height: 100vh;
    }
  }
  @media (max-height: 330px) {
    .wrapper {
      height: 330px;
    }
  }
}
